@import "./style.css";
@import "./normalize.css";


main {
    display: flex;
}
.side-bar {
    position: absolute;
    width: 8em;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    background: white;
    color: black;
    z-index: 1;
}
