dialog#gameRules::backdrop {
    background-color: #0004;
}

#gameRules {
    padding: 0;
    background-color: #0d9cb3;;
}

#gameRules figure {
    display: flex;
    margin: 0;
}

#gameRules div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    bottom: -50rem;
    width: 100%;
    margin: 0 auto;
}

#gameRules button {
    cursor: pointer;
    background-color: var(--bg);
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    padding: 0 5rem;
    height: 3rem;
    transition: background-color .2s ease-in-out,
        color .2s ease-in-out;
}

#gameRules button:hover,
#gameRules button:focus-visible {
    background-color: var(--black);
    color: var(--bg);
}