/* ROOT */

:root {
    --white: #fff;
    --black: #000;
    --bg: var(--white);
    --primary: var(--black);
    --accent: #0f8;

    --starter: #afcb34;
    --junior: #fab932;
    --expert: #e1101d;
    --master: #8b378a;
    --wizard: #0669b0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--black);
        --primary: var(--white);
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg);
    font-family: Inter, sans-serif;
    font-variant-caps: all-small-caps;
    color: var(--primary);
}

#carousel\ container{
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0;
    background: var(--primary);
    opacity: 0.25;
    margin-left: auto;
    margin-right: 0;
    padding:0;
}
