header {
  z-index: 3;
  position: absolute;
}

header nav ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2rem 1rem 4rem 1rem;
  margin: 0;
  height: 100%;
}

header nav ul li {
  list-style-type: none;
}

header li:first-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: auto;
}

header li:last-child {
  margin-top: auto;
}

header nav a {
  text-decoration: none;
  color: var(--white);
}

.navHorse {
  width: 7em;
}

header nav {
  background-color: var(--black);
  max-width: 10em;
  height: 100vh;
  z-index: 2;
}

header li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

header li a,
header li a span {
  transition: color .2s ease-in-out;
}

header li a:hover {
  color: var(--accent);
}

header li a:hover span {
  color: var(--accent);
}

header .header-alles {
  position: fixed;
  top: 0;
  left: -10rem;
  transition: left .3s ease;
  z-index: 2;
}

header .header-alles:has(nav[aria-expanded="true"]) {
  left: 0;
}

header .g-icon {
  font-size: 5rem;
  color: var(--white);
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 0 .5rem .5rem 0;
  position: absolute;
  top: 2.5rem;
  left: 10rem;
  padding: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 2;
}

.icon {
  display: inherit;
}

.icon[aria-hidden="false"] svg:nth-child(1) {
  display: none;
}

.icon[aria-hidden="true"] svg:nth-child(2) {
  display: none;
}

.hamburger {
  cursor: pointer;
  border: none;
}

@media (min-width: 75em) {
  #menu {
    display: none;
  }

  header .header-alles {
    left: 0;
  }
}