@import url(board.css);
@import url(popup.css);



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Vervaagde achtergrondkleur */
  backdrop-filter: blur(5px);
  /* Vervaagt de achtergrond */
  display: none;
  justify-content: center;
  align-items: center;
}

.popup.flex {
  display: flex;
}

.popup-content {

  padding: 20px;
  border-radius: 5px;
  height: 80%;
  width: 70%;
  flex-direction: column; 
  overflow-y: auto;
}
.popup-content::-webkit-scrollbar {
  width: 0.5em; /* Breedte van de scrollbar */
}

.popup-content::-webkit-scrollbar-track {
  background-color: transparent; /* Achtergrondkleur van de scrollbar track */
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: transparent; /* Kleur van de scrollbar thumb */
}

.close-btn {
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #fff;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}


.container-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.container-button .box {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 3rem; 
  grid-template-columns: 1fr;
}

.box {
  background-color: inherit;
  border: 2px solid #fff;
  padding: 20px;
  text-align: center;
}
.box img {
  height: 60px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 

  }
  .box img {
    height: 90px;
  }
}