.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.3rem);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup.flex {
  display: flex;
}

.popup-content {
  padding: 1rem;
  border-radius: 0.3rem;
  height: 80%;
  width: 100%;
  padding: 0 15%;
  flex-direction: column;
  overflow-y: auto;
}

.popup-content::-webkit-scrollbar {
  width: 17px;
}

.popup-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.close-btn {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: .3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 0.3rem;
  background-color: var(--white);
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}


.container-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.container-button .box {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  grid-template-columns: 1fr;
}

.box {
  color: var(--black);
  background-color: var(--white);
  border-radius: 0.3rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box img {
  height: auto !important;
  width: 25rem;
}

.box div {
  margin-bottom: 2rem;
}

.box a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  border: 2px solid var(--black);
  padding: 0.5rem;
}

.box a:hover {
  background-color: var(--black);
  color: var(--white);
}

.box.strter:hover {
  box-shadow: inset 0 0 1rem var(--starter);
}

.box.junior:hover {
  box-shadow: inset 0 0 1rem var(--junior);
}

.box.expert:hover {
  box-shadow: inset 0 0 1rem var(--expert);
}

.box.master:hover {
  box-shadow: inset 0 0 1rem var(--master);
}

.box.wizard:hover {
  box-shadow: inset 0 0 1rem var(--wizard);
}

@media (min-width: 75em) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .box img {
    height: 5rem;
  }
}