@import url(board.css);
@import url(popup.css);



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup.flex {
  display: flex;
}

.popup-content {
  padding: 20px;
  border-radius: 5px;
  height: 80%;
  width: 70%;
  flex-direction: column; 
  overflow-y: auto;
}
.popup-content::-webkit-scrollbar {
  width: 0.5em; 
}

.popup-content::-webkit-scrollbar-track {
  background-color: transparent; 
}

.popup-content::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.close-btn {
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: var(--white);
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}


.container-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.container-button .box {
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 3rem; 
  grid-template-columns: 1fr;
}

.box {
  color: var(--black);
  background-color: var(--white);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box img {
  height: auto !important;
  width: 400px;
}
.box div {
  margin-bottom: 2rem;
}
.box a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  border: 2px solid var(--black);
  padding: 0.5rem;
}
.box a:hover {
  background-color: var(--black);
  color: var(--white);
}
.box:nth-child(1):hover,
.box:nth-child(2):hover {
  box-shadow: inset 0 0 13px var(--starter);
}
.box:nth-child(3):hover,
.box:nth-child(4):hover {
  box-shadow: inset 0 0 13px var(--junior);
}
.box:nth-child(5):hover,
.box:nth-child(6):hover {
  box-shadow: inset 0 0 13px var(--expert);
}
.box:nth-child(7):hover,
.box:nth-child(8):hover {
  box-shadow: inset 0 0 13px var(--master);
}
.box:nth-child(9):hover,
.box:nth-child(10):hover,
.box:nth-child(11):hover{
  box-shadow: inset 0 0 13px var(--wizard);
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 

  }
  .box img {
    height: 90px;
  }
}