/* slider */
#slider {
    height: 100%;
    top: 0;
    right: 0;
    display: flex;

    z-index: 1;
}

#slider #items {
    list-style: none;
    cursor: grab;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex: 1 1 auto;
    background: rgba(0, 0, 0, 0.5);
}

#slider #items::-webkit-scrollbar {
    display: none;
}

#items .card {
    margin: 2em 1em;
}

.card {
    background-size: contain;
    background-repeat: no-repeat;
    height: 0;
}

#grid div img, #items img {
    pointer-events: none;
}

.card {
    width: 7em;
    height: 3.625em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
div.card.dragging{
    transition: transform .2s ease-in-out;
    padding: 0;
    transform-origin: 50px 50px;
    width: 14em;
    height: 7.25em;
}



#a {
    background-image: url("../img/tiles/a.png");

}

#b{
    background-image: url("../img/tiles/b.png");
}

#c {
    background-image: url("../img/tiles/c.png");
}

#d {
    background-image: url("../img/tiles/d.png");
}

#e {
    background-image: url("../img/tiles/e.png");
}

#f {
    background-image: url("../img/tiles/f.png");
}

#g {
    background-image: url("../img/tiles/g.png");
}

#h {
    background-image: url("../img/tiles/h.png");
}

#i {
    background-image: url("../img/tiles/i.png");
}

#j {
    background-image: url("../img/tiles/j.png");
}