/* ROOT */

:root {
    --white: #fff;
    --black: #000;
    --bg: var(--white);
    --primary: var(--black);
    --accent: #0f8;

    --starter: #afcb34;
    --junior: #fab932;
    --expert: #e1101d;
    --master: #8b378a;
    --wizard: #0669b0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: var(--black);
        --primary: var(--white);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg);
    font-family: Inter, sans-serif;
    font-variant-caps: all-small-caps;
    color: var(--primary);
}

/* ATOMS */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    max-width: 40em;
}

/* HELPER CLASSES */

.starter {
    color: var(--starter);
}

.junior {
    color: var(--junior);
}

.expert {
    color: var(--expert);
}

.master {
    color: var(--master);
}

.wizard {
    color: var(--wizard);
}

/* HEADER */

header {
    background-color: var(--primary);
    color: var(--bg);
}

/* MAIN */

main {
    margin: 0 auto;
    max-width: 60em;
    text-align: center;
}

main h1 {
    font-size: 2.5rem;
    font-weight: 900;
    position: relative;
    margin-bottom: 0;
}

main h1::before,
main h1::after {
    content: '';
    display: block;
    position: absolute;
}

main h2 {
    font-size: 1rem;
    margin-top: 0;
}

main .challenge img {
    width: clamp(15rem, 70vw, 30rem);
}

/* BOARD */

#board {
    display: block;
    background-color: #e7d3Bc;
    border: .1em solid #d6b693;
    border-radius: 1em;
    font-size: clamp(0.8rem, 4.6vw, 2.5rem);
    margin: .8em 0;
    padding: .8em;
    width: min-content;
    height: min-content;
}

#board>div {
    display: block;
    background-color: #ab8f6f;
    border-radius: .1em;
    position: relative;
    width: 16em;
    height: 12.8em;
}

#board>div>div {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(5, 20%);
    border-radius: .1em;
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
}

#grid div {
    background-color: #c1a078;
    border-radius: .3em;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    transform: translate(.5rem, .5rem);
}

#grid span {
    pointer-events: none;
    display: block;
    font-size: 1em;
    text-align: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
}

#grid #gate-t {
    line-height: 0.65;
    top: -3rem;
    width: 100%;
}

#grid #gate-u {
    line-height: 2.5;
    right: -3.05rem;
    height: 100%;
}

#grid #gate-x,
#grid #gate-w {
    line-height: 0.65;
    bottom: -3rem;
    width: 100%;
}

#grid #gate-z,
#grid #gate-y {
    line-height: 2.5;
    left: -3rem;
    height: 100%;
}

.tile img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    width: 100%;
    max-height: 100%;
}

.x-0 {
    grid-column-start: 1;
}

.x-1 {
    grid-column-start: 2;
}

.x-2 {
    grid-column-start: 3;
}

.x-3 {
    grid-column-start: 4;
}

.x-4 {
    grid-column-start: 5;
}

.y-0 {
    grid-row-start: 1;
}

.y-1 {
    grid-row-start: 2;
}

.y-2 {
    grid-row-start: 3;
}

.y-3 {
    grid-row-start: 4;
}

.rotation-0,
.rotation-2 {
    grid-column-end: span 2;
}

.rotation-0 img {
    transform: rotate(0deg);
}

.rotation-2 img {
    transform: rotate(180deg);
}

.rotation-1,
.rotation-3 {
    grid-row-end: span 2;
}

.rotation-1 img,
.rotation-3 img {
    width: 200%;
    max-height: 50%;
}

.rotation-1 img {
    transform-origin: 25% 50%;
    transform: rotate(90deg);
}

.rotation-3 img {
    transform-origin: 50% 100%;
    transform: rotate(-90deg);
}

/* FOOTER */

footer {
    margin-top: auto;
}

footer>div {
    background-color: var(--black);
    color: var(--white);
    margin-top: 2rem;
    padding: 2rem clamp(2rem, 8vw, 8rem);
}

footer h1 {
    width: 100%;
}

/* BREAKPOINTS */

@media only screen and (min-width: 30em) {
    main h1 {
        font-size: 3rem;
    }
    
    main h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 60em) {
}